$primary: #1DB954;
$accent: #19dd5d;

$dark-background: #191414;
$dark-accent: #292323;
$dark-accent-2: #312c2c;
$dark-border: #4d4646;

$light-background: #d2d2d2;
$light-accent: #e7dfdf;
$light-accent-2: #fff5f5;
$light-border: #d6cece;

$text-on-light: #1c1c1c;
$text-on-dark: #f5e7e7;
$note-on-light: #564f4f;
$note-on-dark: #9a9999;