@use 'colors' as c;

body[theme="dark"] {
    background-color: c.$dark-background;

    #theme-toggle {
        background-color: c.$light-accent;
        border-color: c.$dark-background;
    }

    div {
        background-color: c.$dark-accent;
        border-color: c.$dark-border;
    }
    
    div:after {
        background: linear-gradient(
            transparent,
            c.$primary,
            transparent
        );
        box-shadow: 
            c.$accent 0 0 25px,
            c.$accent 0 0 1px;
    }
}